{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Display_webpages</title>
  </head>
  <body>
    <div>
    <center>
        <h1>Display_webpages</h1>
    </center>
    </div>
    <center>
    <div>
        <table border="3px">
            <tr>
    
                <th>topic</th>
                <th>name</th>
                <th>url</th>
            </tr>
                    {% for i in LOW %}
                <tr>
                    <td>{{ i.topic }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.url }}</td>
                </tr>
                {% endfor %}
          </center>
        </table>
    </div>

    
  </body>
</html>